@charset "utf-8";
/* CSS Document */
.*{padding:0;margin:0;}
.main{    padding: 0;
    background: #e3e3e3;}
.wrap-sp{    margin-left: auto;
    margin-right: auto;
    width: 1190px;}
.mod-bottom{clear: both;/*左右两侧不允许浮动元素*/}




	
	
	
	
	
	
	
	
	
	